/*  Layouts
===========
*/

@mixin headblock_three {
  #headblock_three_container {
    float:right;
    #headblock_three {
      float:right;
      padding-bottom:10px;
        img#headblock_three_a {
          float:left;
          
        }
        img#headblock_three_b {
          float:right;
          
        }
        img#headblock_three_c {
          float:right;
          
          padding:10px 0px 0px 0px;
        }  
    }
  }  
}

@mixin headblock_two {
  #headblock_two_container {
    float:right;
    #headblock_two {
      float:right;
      padding-bottom:10px;
        img#headblock_two_a {
          float:left;
          
        }
        img#headblock_two_b {
          float:right;
          
        } 
    }
  }  
}

@mixin headblock_one {
  #headblock_one_container {
    float:right;
    #headblock_one {
      padding-bottom:10px;
      float:right;
        img#headblock_one_a {
        }  
    }
  }  
}  

@mixin bodyblock_two {
  #bodyblock_two_container {
    float:right;
    margin:10px 0px;
    #bodyblock_two {
      float:right;
      padding-bottom:10px;    
        img#bodyblock_two_a {
          float:left;
          padding:20px 10px 0px 0px;
        }
        img#bodyblock_two_b {
          float:left;
          clear:left;
          padding:10px 10px 10px 0px;
        }  
    }
  }  
}  

@include headblock_three;
@include headblock_two;
@include headblock_one;
@include bodyblock_two;
