/*  Typography
==============*/

@import "_ggs_baseline";

@font-face {  
  font-family: "OpenSans_Regular";  
  src: url(../fonts/OpenSans/OpenSans-regular.eot); /* IE */  
  src: url("OpenSans"), url(../fonts/OpenSans/OpenSans-regular.ttf) format("truetype"); /* non-IE */ 
}

@font-face {  
  font-family: "OpenSans_Light";  
  src: url(../fonts/OpenSans/OpenSans-light.eot); /* IE */  
  src: url("OpenSans"), url(../fonts/OpenSans/OpenSans-light.ttf) format("truetype"); /* non-IE */ 
}

@font-face {  
  font-family: "OpenSans_Bold";  
  src: url(../fonts/OpenSans/OpenSans-bold.eot); /* IE */  
  src: url("OpenSans"), url(../fonts/OpenSans/OpenSans-bold.ttf) format("truetype"); /* non-IE */ 
}

@mixin light {
  font-weight:200;
}

@mixin regular {
  font-weight:400;
}

@mixin bold {
  font-weight:800;
  font-style:bold;
}

@mixin italic {
  font-weight:400;
  font-style:italic;
}

#meta_data {
  overflow:auto;
  margin:0px 0px 0px 0px;
}

* {
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration:underline;
  color:$link_color;
}

ul#menu {
  display:inline-block;
}

li {
  list-style:none;
  display:inline-block;
  margin:0px 20px 10px 0px;
}

h1, h2 {
  text-transform: capitalize;
  font-weight:400;
}

#about {
  h2 {
  font-family: 'Arial Black', sans-serif;
  border-bottom: 2px $colorA solid;
}
}


#branding {

  h1 {
    @include massive;
    line-height: 1.5em;
    padding-right:10px;
    background-color:$colorA;
    color: $colorB;
    font-family: 'Arial Black', sans-serif;
    font-weight:800;
    text-transform:uppercase;
    text-align: right; 
    vertical-align: center;
    margin-bottom:10px;
  }
}

#font_weights_styles {
  float:left;
  display:inline-block;
}

/*Body Fonts
============
*/

body p{
  font-weight:200;
  margin-top: 10px;
}

#content_block {
  float:right;
}

#content_block h2 {
  margin:0px 0px;
}

#content_block h1 {
  margin-bottom:0px;
}

#content_block p:first-child, .img {
  margin-top:50px;
}

.light {
  font-family: 'OpenSans-light', sans-serif;
}

.regular {
  font-family: 'OpenSans-regular', sans-serif;
}

.bold {
  @include bold;
}

.italic {
  font-weight:400;
  font-style:italic;
}

.small {
  @include small;
}

.pullquote h3{
  @include italic;
  @include large;

  color: $colorC;
  margin: 10px;
  margin-left: 0px;
  float: left;
  display: block;
  width: 40%;
  max-width: 400px;
  border-right: 2px solid rgb(204, 204, 204);
  padding-right: 10px;
}

blockquote {
    font-size:0.813em;
    font-weight:200;
}

#layout .img_block_caption{
  color: $colorA;
  clear:left;
  padding:0px 10px 0px 0px;
  margin:10px 10px 10px 0px;
  border-right: 2px solid rgb(204, 204, 204);
    p {
      border-right: 2px solid rgb(204, 204, 204);
    }
}
