/* All Mobile Sizes (devices and browser) */
  @media screen and (min-width: 105em) {
  	#branding h1 {font-size: 4.4em; margin-bottom:35px;}
  	#branding_background {margin-top:85.486px; height:112px;}
  }

  @media only screen and (max-width: 767px) {
    #branding h1 {font-size: 2.84em; margin-bottom:35px;}
    #about {margin-bottom: 20px;}
  	#branding_background {margin-top:51.932px; height:68px;}
  	.icon_images {height:50px; width:50px;}
  }

   @media only screen and (max-width: 719px) {
    #branding h1 {font-size: 2.6em;}
  	#branding_background {margin-top:50.514px; height:66px;}
  }

  @media only screen and (max-width: 639px) {
    #branding h1 {font-size: 2.6em;}
  	#branding_background {margin-top:38.4px; height:62px;}
  }

  @media only screen and (max-width: 479px) {
  	#branding h1 {font-size: 2em;}
  	#branding_background {margin-top:29.539px; height:48px;}
  }